*{
 margin:0;
 padding:0;
 text-align:center;

}
h1{
    background-color:blueviolet;
    color: aliceblue;
    height:4rem;
    line-height: 5rem ;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;

}
img {
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius: 50%;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }
#user-score,#comp-score{
    font-size: 5rem;
}
.msg-container{
    margin-top:5rem;

}
#msg{
    background-color: blueviolet;
    color:aliceblue;
    font-size:2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.scoreboard{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    gap:5rem;
    margin-top :3rem;
    margin-bottom: 3rem;

}
.choice:hover {
    cursor:pointer;
    background-color: rgb(87, 10, 159);

}